.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  width: 100%;
  display: flex;
  bottom: 20px;
  position: absolute;
  justify-content: center;

  .langSwitcher {
    margin-left: 20px;
  }
}

.collapsedBtn {
  z-index: 10;
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.links {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}



.collapsed {
  width: var(--sidebar-collpsed-width);

  .switchers {
    flex-direction: column;
  }

  .langSwitcher {
    margin-left: 0;
  }

  .linkText {
    transition: opacity 0.3s;
    opacity: 0;
    width: 0;
  }
}
