.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  //justify-content: end;
  padding: 20px;
}

.links {
  margin-left: auto;
  margin-right: 15px;
}

.mainLink {
  margin-right: 10px;
}

.exitBtn {
  margin-left: auto;
}

.createBtn {
  margin-left: 120px;
}

.loginBtn {
  margin-left: auto;
}



.actions {
  gap: 0 10px;
  margin-left: auto;
}

